@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

:root {
  --color-dark: rgb(25, 20, 20);
  --color-dark-semitransparent: rgb(25, 20, 20, 0.5);
  --color-grey: #e4e4e4;
  --color-dark-green: rgb(31, 94, 93);
  --color-primary: rgb(29, 185, 84);
  --color-secondary: rgb(30, 215, 96);
  --color-iceberg: rgb(204, 225, 244);
  --color-light: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-dark-green);
  color: var(--color-iceberg);
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border-style: none;
}
h1 {
  padding: 20px 0;
  text-align: center;
  color: var(--color-secondary);
}
h3 {
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}

.md-icons {
  font-size: 2rem;
}

/* NavBar */
.nav {
  color: var(--color-light);
  padding: 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  column-gap: 2rem;
}

.nav-item {
  color: var(--color-light);
}
.nav-item:hover {
  color: var(--color-secondary);
}
.nav-item-selected {
  background-color: var(--color-dark-semitransparent);
}

.logo-image {
  width: 20px;
  height: auto;
}

/* Containers */
.container-mypage {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.mypage-right {
  width: 100%;
}

.container-card-bottom {
  position: absolute;
  bottom: 5px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-add-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-notifications {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container-notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Tabs */
.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tabs-column {
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--color-dark);
}
.tab {
  padding: 0.5rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 1.5rem;
  border-radius: 15px 15px 0 0;
}
.tab-musicians {
  background-color: var(--color-primary);
}
.tab-selected {
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 0 0 0 0;
}

/* Cards */
.cards {
  background-color: var(--color-dark);
  padding: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cards-musicians {
  background-color: var(--color-primary);
}
.cards-mypage {
  background-color: var(--color-dark-green);
}

.card {
  position: relative;
  width: 300px;
  min-height: 500px;
  padding: 1rem;
  border: 1px solid #a4a4a4;
  border-radius: 20px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.card-musician {
  background-color: var(--color-dark);
  color: var(--color-iceberg);
}

.card img {
  width: 150px;
  height: 150px;
  padding-bottom: 5px;
  border-radius: 50%;
}

.instrument {
  padding: 5px;
}
.searching-for {
  padding: 5px;
}

/* Log in and Register */
form {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
}

.form-mypage {
  background-color: var(--color-dark-semitransparent);
}

.form-item {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 300px;
}

button {
  padding: 10px 10px;
  background-color: var(--color-iceberg);
  border: none;
  border-radius: 5px;
  color: var(--color-dark);
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: aqua;
}

.button-add {
  margin: 15px 0;
  padding: 0;
  background-color: rgb(1, 1, 1, 0);
  color: var(--color-secondary);
}
.button-add:hover {
  color: aqua;
  cursor: pointer;
  background-color: rgb(1, 1, 1, 0);
}

.button-delete:hover {
  background-color: red;
  color: var(--color-light);
}

.button-close {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}

/* registration */
.registration {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* align-items: center; */
  justify-content: center;
}

/* message (error, warning, success) */
.message-error {
  margin: 2rem auto;
  color: red;
}
.message-success {
  margin: 2rem auto;
  color: var(--color-iceberg);
}

/* Apply Window */
.apply-window {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background-color: var(--color-iceberg);
  color: var(--color-dark-green);
  padding: 5px;
}

/* Notifications, applicant */
.applicant {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--color-dark-semitransparent);
}

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    row-gap: 1rem;
  }
  .container-notification {
    flex-direction: column-reverse;
  }
}
