* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  border-style: none;
}

.md-icons {
  font-size: 2rem;
}

/* NavBar */
.nav {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-disconnected-user {
  display: flex;
  column-gap: 2rem;
}

/* Home Page */
.tabs {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.tab {
  color: black;
  background-color: azure;
  font-size: 2rem;
}

/* Log in and Register */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  width: 300px;
}

button {
  padding: 10px 10px;
  background-color: #0077ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0066cc;
}

.button-add {
  padding: 0;
  background-color: rgb(1, 1, 1, 0);
  color: #0066cc;
}
.button-add:hover {
  color: aqua;
  cursor: pointer;
  background-color: rgb(1, 1, 1, 0);
}

.button-close {
  cursor: pointer;
  font-size: 1.5rem;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 300px;
  min-height: 400px;
  padding: 1rem;
  border: 1px solid #a4a4a4;
  border-radius: 20px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.card img {
  width: 150px;
  height: 150px;

  padding-bottom: 5px;
  border-radius: 50%;
}

.instrument {
  padding: 5px;
}
.searching-for {
  padding: 5px;
}

.fav-apply-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* registration */
.registration {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* align-items: center; */
  justify-content: center;
}

/* message (error, warning, success) */
.message {
  margin: auto;
}
